/**
 * @file
 * Block Styling
 */



/* BOTON TOURS */
#block-block-7 {
	margin-left:-90px;
	margin-top:-10px;
	float:left;
}

/* BOTON CAMINO ESPIRITUAL */
.block-camino-espiritual {
	margin-top:10px !important;
    margin-bottom: 0px !important;
}
.block-camino-espiritual p {
	margin:0px !important;
	text-align:right;
}
.block-camino-espiritual .content a {
	background:#03703C;
	color:#FFF;
    padding: 5px 0px;
    text-transform: uppercase;
    /* width: 100%; */
    display: block;
    text-align: center !important;
    margin: 0px;
	font-size:16px;
}
.block-camino-espiritual .content a:hover {
	text-decoration:none;
	color:#F2972D;
}

/* BOTON OFICINA PELEGRINO */
#block-block-11 {
	float:left;
/*	margin-left:-70px;
	margin-top:30px;	*/
	margin-left:0px;
	margin-top:-10px;
}

/* BOTON SLIDESHOW TOURS */
#block-views-slideshow-banner-superior-block {
	margin-left:-90px;
	margin-top:15px;
	float:left;
}

#block-views-slideshow-banner-superior-block .views-slideshow-cycle-main-frame {
	border:2px solid #308A5F;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

#block-views-slideshow-banner-superior-block * {
	margin:0px;
	padding:0px;
}
#block-views-slideshow-banner-superior-block .view-slideshow-banner-superior .field-content {
	height:150px;
}




/* LANGUAGE BLOCK */
#block-locale-language {
	clear:right;
	float:right;
	height:20px;
	margin-top:50px;
}
#block-locale-language ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
#block-locale-language ul li {
	display:inline;
	margin-left:5px;
}


/* LANGUAGE BLOCK DROPDOWN */
#block-lang-dropdown-language {
	clear:right;
	float:right;
/*	margin-top:30px;	*/
	margin-top:0;
	margin-bottom:0px;
}
#block-lang-dropdown-language .dd-selected {
	padding:5px !important;
}
#block-lang-dropdown-language .dd-selected-text,
#block-lang-dropdown-language .dd-option-text {
	cursor:pointer !important;
}



/* SOCIAL LINKS BLOCK */
#block-block-3 {
	clear:right;
	float:right;
	height:20px;
	margin-top:15px;
/*	margin-top:55px;	*/
	margin-bottom:28px;
}
#block-block-3 img {
	margin-left:5px;
}
#block-block-3 p {
	margin:0px;
	padding:0px;
}




/* SEARCH BLOCK */
#block-search-form {
	margin:-8px 0 0 0;
/*	width:150px;
	width:200px;	*/
	width:170px;
	float:right;
	clear:right;
	text-align:right;
}
#block-search-form .search-form {
	margin-bottom:0;
}
#block-search-form input#edit-search-block-form--2 {
	margin:0px;
	padding:0px;
	height:20px;
/*	width:120px;	*/
	width:158px;
	vertical-align:middle;
	margin-right:-28px;
}
#block-search-form input.form-submit {
	background:url(../images/search.png) no-repeat top;
	border:none;
	text-indent: -4000px;
	width:25px;
	cursor:pointer;
	vertical-align:middle;
	line-height: 17px;
	.line-height: 0;
}


/* BLOCK HOME VIDEOS DEL CAMINO */
.block-videos-camino .left-side {
	float:left;
	width:50%;
}
.block-videos-camino .right-side {
	float:right;
}
.block-videos-camino h1 {
	margin-top:0;
	margin-bottom:0.5em;
}
.block-videos-camino p {
	font-size:18px;
	margin:0;
}
.block-videos-camino .back-link {
    margin:30px 0;
}



/* BLOCK SUPERIOR DE LA PORTADA (NODE BLOCK) */

/* NODE BLOCK */
/*
#block-nodeblock-75 h1 {
	margin-top:0px;
	padding-top:0px;
	line-height:40px;
	text-transform:uppercase;
	color:#03703C;
}
#block-nodeblock-75 .field-name-field-fotos,
#block-nodeblock-75 .field-name-field-enlace {
	float:left;
}
#block-nodeblock-75 .field-name-body {
	float:right;
	width:600px;
	font-size:16px;
}
*/



/* BLOCK DE LOS ENLACES EN LA PARTE INFERIOR DE LA HOME */
#block-block-6 .content div {
	position:relative;
	display:inline-table;
}
#block-block-6 span.texto-boton {
	font-size:18px;
	font-weight:bold;
	color:#FFFFFF;
	text-transform:uppercase;
	position:absolute;
	top:17px;
	width:100%;
	text-align:center;
	left:0px;
}
/*
#block-block-6 div.historia span.texto-boton {
	left:20px;
}
#block-block-6 div.consejos span.texto-boton {
	left:60px;
}
#block-block-6 div.peregrinacion span.texto-boton {
	left:85px;
}
*/




/* BORDE DE LOS BLOQUES */
#block-cck-blocks-field-mapa iframe,
#block-views-banners-alojamiento-etapa-block img,
#block-cck-blocks-field-mapa-de-la-ciudad .field-type-image img,
#block-cck-blocks-field-mapa-ciudad-salida .field-type-image img,
#block-cck-blocks-field-temperaturas-medias .field-type-image img,
#block-cck-blocks-field-lluvias-medias .field-type-image img {
	border:1px solid #6AA78A;
}


/* BLOCK DEL MAPA */
#block-cck-blocks-field-mapa .field-name-field-mapa a {
	font-size:16px;
}


/* BLOCK DEL GPS */
#block-views-gps-track-block .field-content a {
	background:url(../images/contacts.png) left no-repeat;
	display:block;
	border:1px solid #308A5F;
	width:300px;
	line-height:50px;
	font-size:18px;
	color:#3E3D40;
	text-transform:uppercase;
	text-align:center;
}
#block-views-gps-track-block .field-content a:hover {
	text-decoration:none;
}

/* BLOCK DE WIKILOC */
#block-cck-blocks-field-wikiloc-auto {
	margin-bottom:5px;
}
.field-name-field-wikiloc-auto a {
	background:url(../images/wikiloc.png) left no-repeat;
	width:300px;
	height:56px;
	line-height:56px;
	font-size:18px;
	color:#3E3D40;
	text-transform:uppercase;
	text-indent:20px;
/*	text-indent:-4000px;	*/
	display:block;
	border:1px solid #308A5F;
}
.field-name-field-wikiloc-auto a:hover {
	text-decoration:none;
}
.field-name-field-iphone-wikiloc-id {
	width:300px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.field-name-field-iphone-wikiloc-id .field-label {
	color:#03703C;
}
.field-name-field-iphone-wikiloc-id .field-label,
.field-name-field-iphone-wikiloc-id .field-items {
	float:none;
	display:inline-block;
}




/* BLOCK DE LOS BANNERS */
#block-views-banners-alojamiento-etapa-block .views-field {
/*	float:right;
	clear:both;
	display:block;
	position:relative;		*/
}


/* BLOCKS DEL TIEMPO */

#block-cck-blocks-field-el-tiempo .field-name-field-el-tiempo span {
	line-height:40px;
}




/* BLOCKS DE ALTIMETRÍA */
#block-cck-blocks-field-altimetria-foto {
	margin-bottom:-3px;
}
#block-cck-blocks-field-altimetria-foto h2 {
/*	margin-bottom:5px;	*/
}
#block-cck-blocks-field-altimetria-texto {
	line-height:16px;
}




/* BLOCKS DE CARTOGRAFÍA */
div.field-name-field-cartografia img {
	border:1px solid #333333;
}




/* BLOCK DE "PEREGRINACIÓN" - IMÁGENES DE LOS 4 PASOS */
#block-block-4 .content div {
	float:right;
	margin-bottom:20px;
	position:relative;
}
#block-block-4 span.texto-boton {
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	text-transform:uppercase;
	position:absolute;
	top:8px;
	left:0px;
	width:100%;
	text-align:center;
}
/*
#block-block-4 div.cuatro-semanas span.texto-boton {
	right:33px;
}
#block-block-4 div.guia-camino span.texto-boton {
	right:20px;
}
#block-block-4 div.respirando-camino span.texto-boton {
	right:15px;
}
#block-block-4 div.oracion span.texto-boton {
	right:8px;
}
*/



/* BLOCKS DE LOS BOTONES DE COMENTARIOS, DATOS DE INTERÉS, PISTAS IGNACIANAS */
#block-views-datos-de-interes-block,
#block-views-pistas-ignacianas-block,
#block-views-autobiografia-block,
#block-block-5 {
	float:right;
	height:110px;
	margin-bottom:10px;
/*	margin:0 18px 10px 0;
	display:inline-block;	*/
}
#block-block-5 p { 
	margin: 0px;
}
/*
#block-views-autobiografia-block {
	float:right;
	margin-right:0px;
}
*/
#block-views-datos-de-interes-block .views-field,
#block-views-pistas-ignacianas-block .views-field,
#block-views-autobiografia-block .views-field,
#block-block-5  .content {
	position:relative;
	display:inline-table;
}
#block-views-datos-de-interes-block span.texto-boton,
#block-views-pistas-ignacianas-block span.texto-boton,
#block-views-autobiografia-block span.texto-boton,
#block-block-5 span.texto-boton {
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	text-transform:uppercase;
	position:absolute;
	top:8px;
	left:0px;
	width:100%;
	text-align:center;
}








/* BLOCK DE LOS ENLACES A ETAPA ANTERIOR Y SIGUIENTE */
.treewalk-prev-next a {
	font-size:16px;

	padding:10px;
	border:1px solid #6AA78A;
	background:#F6B66C;
	color:#308A5F;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;

	width:161px;
	height:33px;
	line-height:33px;
	text-align:center;
	text-decoration:none;

		/* IE HACK */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
}

.treewalk-prev-next a:hover {
	background:#F4A955;
}




/* MENU FOOTER */
.region-footer {
	position:relative;
}
.block-footer-sitemap {
	opacity:.9;
	filter:alpha(opacity=90);
	background:rgba(0,0,0,0.9);
	padding-bottom:20px;
}
#footer-sitemap ul {
	width:100%;
	text-align:left;
}
#footer-sitemap ul li {
	display:inline-block;
	padding: 20px;
	margin-right: 30px;
}
#footer-sitemap ul ul {
	text-align:left;
}
#footer-sitemap ul ul li {
	display:inherit;
}
#footer-sitemap li a {
	color:#FFF;
/*	text-align: center;	*/
	font-size: 1.1em !important;
}
#footer-sitemap .footer-contact-link {
	clear:both;
	text-align:center;
	margin:20px 0;
}
#footer-sitemap .footer-contact-link a {
	color:#FFF;
	font-size:12px;
}
#footer-sitemap .footer-contact-link a:hover {
	text-decoration:underline;
}


/* LOGO FOOTER */
#block-block-12 {
    top: 0px;
    position: absolute;
    right: 20px;
}




.block /* Block wrapper */ {
  margin-bottom: 2.5em;
}


.region-sidebar-second .block {
  float:right;
}


.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
  text-transform:uppercase;
  margin-bottom:5px;
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}
