


/* CAMPO DE BICICLETAS DE LA ETAPA */
.node-etapa .field-name-field-bicicletas {
	background:#CBE1C0;
	border:1px solid #6AA78A;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	
	margin:10px 0 10px 0;
	padding:0 10px 0 70px;
	background:url(../images/bicicleta.png) #CBE1C0 no-repeat 10px 20px;
}






/* CAMPO DE FOTOS DE LA ETAPA */
.node-etapa .field-name-field-fotos,
.node-type-camino-del-respeto .field-name-field-fotos {
	clear:both;
	padding-top:20px;
}
.node-etapa .field-name-field-fotos .field-item,
.node-type-camino-del-respeto .field-name-field-fotos .field-item {
	display:inline;
}
.node-etapa .field-name-field-fotos .field-item img,
.node-type-camino-del-respeto .field-name-field-fotos .field-item img {
	vertical-align:middle;
	border:1px solid #6AA78A;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin:0 23px 10px 0;
}
.node-etapa .field-name-field-fotos .field-item:hover img,
.node-type-camino-del-respeto .field-name-field-fotos .field-item:hover img {
	/* TRANSPARENCIA */
	opacity:.7;
	filter:alpha(opacity=70);
	background:rgba(0,0,0,0.7);
	visibility:visible;

	/* TRANSICIÓN EASE-IN-OUT */
	-moz-transition:opacity .2s ease-in-out;
	-webkit-transition:opacity .2s ease-in-out;
}





/* ESCONDEMOS LA FOTO GRANDE DE ALTIMETRÍA Y CARTOGRAFÍA, SOLO QUEREMOS QUE APAREZCAN AL IMPRIMIR */
.node-etapa .field-name-field-mapa-de-la-ciudad,
.node-etapa .field-name-field-mapa-ciudad-salida,
.node-etapa .field-name-field-altimetria-foto,
.node-etapa .field-name-field-cartografia {
	display:none;
}


/* GOOGLE MAPS */
#map-canvas {
	width:305px;
	height:250px;
}




/* AFORISMOS */
.field-name-field-aforismo {
	margin:20px 0 20px 0;
	font-style:italic;
/*	font-weight:bold;	*/
	font-size:1.2em;
}



/* BLOQUE DERECHO EN OFICINA DEL PEREGRINO */
.section-oficina-peregrino .field-type-image,
.section-oficina-peregrino .field-name-field-folleto,
.section-oficina-peregrino .field-name-field-enlace {
	margin-top:20px;
}

.section-oficina-peregrino .views-field-title {
	font-weight:bold;
}
.section-oficina-peregrino .views-field-view-node {
	margin-top:10px;
}
.section-oficina-peregrino .views-field-view-node a {
	font-size:16px;
}


.field /* Wrapper for any field. */ {
}

/*
 * Field types (Core)
 */
.field-type-text {
}

.field-type-text-long {
}

.field-type-text-with-summary {
}

.field-type-image {
}

.field-type-file {
}

.field-type-taxonomy-term-reference {
}

.field-type-number-integer {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-list-text {
}

.field-type-list-boolean {
}

.field-type-list-integer {
}

.field-type-list-float {
}

/*
 * Field types (Contrib)
 */
.field-type-datetime /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */ {
}

.field-type-node-reference {
}

.field-type-user-reference {
}


/*
 * Named fields
 */
.field-name-body {
}

.field-name-field-image {
}

.field-name-field-tags {
}

.field-name-field-FIELDNAME /* Underscores in field name are replaced with dashes. */ {
}




