/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */

/* COLORS */
/* GRIS (TEXT):  #3E3D40			*/
/* OCRE (FONS):  #EFEEE0 			*/
/* VERD:	 	 #03703C / #308A5F	*/
/* VERD CLAR:	 #D9E3C3			*/
/* TARONJA: 	 #F2972D 			*/
/* TARONJA CLAR: #F6B66C / #F4A955 	*/


/* FONTS */

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri/calibri.eot');
    src: url('../fonts/calibri/calibri.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriBold';
    src: url('../fonts/calibri/calibrib.eot');
    src: url('../fonts/calibri/calibrib.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibrib.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




/*
 * Body
 */
body {
}

body, p {
  font-family: "Calibri";
  font-size:15px;
  color:#3E3D40;
  text-align:justify;
}

b, strong {
  font-family: 'CalibriBold';
}

a {
  font-family: 'CalibriBold';
  text-decoration:none;
/*  color:#3E3D40;	*/
  color:#03703C;
}
a:hover {
  text-decoration:underline;
}

#page-wrapper,
.region-bottom {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
/*  width: 960px;	*/
}

#page {
}


/*
 * Fondo de pantalla
 */
img#fondo-pantalla {
	width:100%; 
	height:auto; 
	z-index:-2000;
	min-width:1024px; 
	min-height:100%; 
	position:fixed;
	left:0; 
/*	bottom:0; 	*/
	top:0;
	border:none; 

	_display:none;		/* IE6: NO PODEMOS MOSTRAR IMAGEN DE FONDO */
}




/*
 * Header
 */
#header {
  margin:0 auto;
  width: 1000px;
  margin-bottom:10px;
}

#header #logo img {
  height:175px;
}
.region-header {
  float:right;
  height:10px;
/*  width:300px;		 IE6 HACK */
  width:350px;		/* IE6 HACK */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  margin:0 auto;
  width: 1000px;
  position: relative;
  background:#EFEEE0;
}

#main {
/*  padding:10px;	*/
  min-height:350px;
  border:1px solid #6AA78A;
  border-top:none;
  border-bottom:none;
}

#main-superior,
#main-inferior {
  border:1px solid #6AA78A;
  border-top:none;
  background:#D9E3C3;
  padding:20px 20px 20px 20px;
  margin:0px;
}
#main-superior {
  border-bottom:none;
  padding-top:40px;
}
#main-inferior {
  background:none;
  min-height:300px;
  padding-top:1px;
  margin-top:-80px;
}


/*
 * Content
 */
#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 955px;
  margin-left: 20px; /* LTR */
  margin-right: -955px; /* LTR */ /* Negative value of #content's width + left margin. */
  margin-bottom: 20px;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  width: 760px;
  margin-left: 200px; /* LTR */ /* The width of .region-sidebar-first. */
/*  margin-right: -960px; * LTR */ /* Negative value of #content's width + left margin. */
  margin-right: -1000px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-second #content {
  width: 623px;
  margin-left: 20px; 	/* LTR */
  margin-right: -600px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 560px;
  margin-left: 200px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#content .section {
  margin: 10px 0;
  padding: 0;
}

/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  width: 340px;
  margin-left: 0; /* LTR */
  margin-right: -340px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0 20px 0 0; /* LTR */
  padding: 0;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  width: 305px;
  margin-left: 625px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -360px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 12px 0 0 0px; /* LTR */
  padding: 0;
}


/*
 * Navigation
 */
#navigation {
  width: 1000px;
  height: 35px;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  margin:0 auto;
  padding: 0px; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 35px; /* The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
  background:#03703C;


  _float: left; 	/* IE6 HACK */

}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 10px; /* Set this to the same value as the navigation height above. */
}



/* SUBMENU */
#submenu {
  margin:0 auto;
  width: 1000px;
  border:1px solid #6AA78A;
/*  border-top:none;
  border-bottom:none;	*/
  border-left:none;
  border-right:none;
  background:transparent;
  line-height:30px;
  height:30px;
  min-height:0px;
  display:block;
  padding:0px;
}





/* RESALTADO (HIGHLIGHTED) */
.region-highlighted {
}




/*
 * Footer
 */
.region-footer {
  margin:0 auto;
  width: 1000px;
}
.region-footer p,
.region-footer a {
  font-size:12px;
  color:#000000;
}

/*
 * Page bottom
 */
.region-bottom /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-bottom {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/



/* FLOATS */
.float-left {
	float:left;
}
.float-right {
	float:right;
}


/* COLUMNS */
td.columna-10 {	width:10%;	}
td.columna-20 {	width:20%;	}
td.columna-30 {	width:30%;	}
td.columna-40 {	width:40%;	}
td.columna-50 {	width:50%;	}
