/**
 * Navigation Styling
 */

/* BARRA DE MENÚ FIJA SUPERIOR */
.fixed-nav {
	position:fixed;
	width:100%;
	top:0px;
	z-index:99;
}
.fixed-nav ul#superfish-1 ul {
  top:45px;
}
.fixed-nav #navigation {
	padding:10px 0;
}
.fixed-nav #navigation li {
	padding-bottom:10px !important;
}
.fixed-nav #navigation li li {
	padding-bottom:0px !important;
}

/* SUPERFISH MENU */

ul#superfish-1 a {
  color:#FFFFFF;
}
ul#superfish-1 a:hover {
  text-decoration:none;
}
ul#superfish-1 li {
  background:none;
  text-transform:uppercase;
  margin:0px;
  padding:0px;
  height:35px;
  line-height:1.8em;
}
ul#superfish-1 li.last,
ul#superfish-1 li.menuparent.last {
  margin-right:0px;
}
ul#superfish-1 li a,
ul#superfish-1 li.menuparent a {
  border:none;
  font-size:16px;
  padding:5px 0px 5px 12px;
}
ul#superfish-1 li.first a {
  padding-left:14px;
}


/* SUPERFISH MENU - DESPLEGABLES */
ul#superfish-1 li li {
  background:#03703C;   /* VERDE */
}
ul#superfish-1 li ul {
  border-top:1px solid #EFEEE0;
}
ul#superfish-1 li li a,
ul#superfish-1 li.menuparent li a,
ul#superfish-1 li li a:hover,
ul#superfish-1 li.menuparent li a:hover {
  color:#EFEEE0;
  font-size:15px;
  background:none;
  padding:5px;
}
ul#superfish-1 ul {
  left: 0; /* LTR */
  top:35px;
  border:none;
}
ul#superfish-1 ul li {
  clear: both;
  width:300px;
  height:auto;
  padding-left:5px;
  line-height:20px;
}



/* SUPERFISH MENU - HOVER i ACTIVE */
ul#superfish-1 li.active-trail a,
ul#superfish-1 li a:hover,
ul#superfish-1 li.menuparent a:hover,
ul#superfish-1 li a.active,
ul#superfish-1 li.menuparent a.active,
ul#superfish-1 li li a:hover,
ul#superfish-1 li.menuparent li a:hover {
  color:#F2972D;	/*  NARANJA	 */
}

ul#superfish-1 li a:hover,
ul#superfish-1 li a:focus,
ul#superfish-1 li a:active,
ul#superfish-1 li li a:hover {
  background:#03703C;   /* VERDE */
}






/* BLOCK MENU */
/* SUBMENU SECUNDARI --> block-menu-block-1 */
#block-menu-block-1 ul.menu {
  margin:0px;
  padding:0px;
  padding-left:10px;
  height:30px;
}
#block-menu-block-1 ul.menu li {
  display:inline;
  margin:0px;
  list-style-type:none;
  line-height:30px;
  padding:0px;
  background:url(../images/linea_menu.gif) right repeat-y;
}
#block-menu-block-1 ul.menu li a {
  padding-left:15px;
  padding-right:15px;
  color:#03703C;
  font-size:15px;
}
#block-menu-block-1 ul.menu li.first a {
  padding-left:11px;
}
#block-menu-block-1 ul.menu li.last {
  background:none;
}
#block-menu-block-1 ul.menu li a.active-trail,
#block-menu-block-1 ul.menu li a:hover {
  color:#F2972D;
  text-decoration:none;
}














/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
  float:left;
  height:35px;
}

/* NAVIGATION FOR TABLETS AND MOBILES */
@media screen and (max-width: 1024px) {
	#navigation {
		height:0px;
	}
	#main {
		border-top:1px solid #6AA78A;
	}
	#page-wrapper {
		margin-top:50px;
	}
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}


/* ADMIN MENU TOOLBAR */
#admin-menu {
  position: absolute !important;
}



/* RESPONSIVE MENU */
.mean-container .mean-bar {
	position:fixed;
	width:100%;
	top:0px;

	background:#03703C !important;
	min-height:50px;
	padding:0px;
}
.mean-container .mean-nav ul li a {
	padding: 1em 6%;
}
.mean-container .mean-nav ul li a.mean-expand {
	height:24px !important;
	width:100%;
	text-align:left;
	color:#FFF !important;
	background:transparent;
	border:0 !important;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}
.mean-container a.meanmenu-reveal {
	font-size:18px;
	width:100%;
	padding-top:15px;
}
.mean-container a.meanmenu-reveal,
.mean-container a.meanmenu-reveal:active,
.mean-container a.meanmenu-reveal:visited {
	color:#FFF !important;
}
.mean-container a.meanmenu-reveal,
.mean-container a.meanmenu-reveal.meanclose {
/*	text-indent:35px !important;	*/
	text-align:left !important;
}
.mean-container .mean-nav ul li a.mean-expand {
	position:absolute;
	left:0;
}
.mean-container a.meanmenu-reveal .meanmenu-icon {
	float:left;
}
.mean-container a.meanmenu-reveal .meanmenu-text {
	text-indent: 10px;
}
.mean-container a.meanmenu-reveal span {
  display: block;
  background: #fff;
  width:20px;
  height: 3px;
  margin-top: 3px;
}