/* LAYOUT */
#main-superior {
  padding-top:20px;
  padding-bottom:10px;
}



/* SLIDESHOW DE LA PORTADA SUPERIOR */
.view-slideshow-portada-superior-nova-home .views-field-field-fotos {
	float:left;
	margin-right:20px;
}
.view-slideshow-portada-superior-nova-home .views-field-title {
	margin:0 0 20px 0;
	padding-top:0px;
	line-height:20px;
	font-size:22px;
	font-weight:bold;	
	text-transform:uppercase;
	color:#03703C;
}
.view-slideshow-portada-superior-nova-home .views-field-body,
.view-slideshow-portada-superior-nova-home .views-field-body p {
	font-size:14px;
}
.view-slideshow-portada-superior-nova-home .views-field-field-enlace a {
	margin:20px 0;
	float:left;
	display:block;
	border:1px solid #6AA78A;
	background:#F6B66C;
	color:#308A5F;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;

	width:161px;
	height:33px;
	line-height:33px;
	text-align:center;
	text-decoration:none;

	  /* IE HACK */
	  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
}
.view-slideshow-portada-superior-nova-home .views-field-field-enlace a:hover {
	background:#F4A955;
}


.view-slideshow-portada-superior-nova-home .field-slideshow-slide img {
  max-width:none;
/*  height: auto !important;
  width: auto !important;*/
}



/* SLIDESHOW DE NOTÍCIES I VÍDEO */

.view-slideshow-noticies-nova-home .views_slideshow_slide .views-field-title {
	margin-top:5px;
	text-align:center;
	font-weight:bold;
	line-height:1.6em;
}
.view-slideshow-noticies-nova-home .views_slideshow_main {
	float:left;
}
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom  {
	float:right;
	width:500px;
	display:compact
}
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom a {
	display:inline-block;
/*	width:15px;		*/
	height:20px;
	margin-left:6px;
/*	text-indent: 100%;	*/
	text-transform:uppercase;
    white-space: nowrap;
    overflow: hidden;
}
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom a:hover {
	text-decoration:none;
}
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom .views_slideshow_pager_field_item {
	padding:12px 10px;
	margin:0;
	font-size:120%;
	border-bottom:1px solid #CCC;
	cursor: pointer;
	font-weight:bold;
	text-align:left;
}
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom .views_slideshow_pager_field_item:last-child {
	border-bottom:none;
}
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom .views_slideshow_pager_field_item.active {
	background:#03703C;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	opacity:0.9;
}
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom .views_slideshow_pager_field_item a {
	color:#308A5F;
}
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom .views_slideshow_pager_field_item.sticky a {
	color:#024827;
}
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom .views_slideshow_pager_field_item.active a {
	color:#FFF;
}

/*
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom  a.views_slideshow_previous {
	background:url(images/prev-arrow.png) no-repeat;
}
.view-slideshow-noticies-nova-home .views-slideshow-controls-bottom  a.views_slideshow_next {
	background:url(images/next-arrow.png) no-repeat;
}
*/

.view-slideshow-noticies-nova-home .views-field-field-introduccio {
	background:#000;
	filter:alpha(Opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity:0.75;
	opacity:0.75;

	position:absolute;
	bottom: 5px;
	border-radius: 0px 0px 24px 24px;
	width:100%;
	line-height:2em;
}
.view-slideshow-noticies-nova-home .views-field-field-introduccio .field-content {
	padding:10px;
	color:#FFF;
	text-align: center;
}
.view-slideshow-noticies-nova-home .views-field-field-introduccio .field-content,
.view-slideshow-noticies-nova-home .views-field-field-introduccio .field-content a {
	font-weight:bold;
	color:#FFF;
	font-size:110%;
}
.view-slideshow-noticies-nova-home .views-field-field-introduccio .field-content a:hover {
	text-decoration:none;
}
.view-slideshow-noticies-nova-home .view-footer {
	clear:both;
	padding-top:1px;
}

